<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <script src="https://kit.fontawesome.com/785b2dcfab.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="alert" id="alert" style="display:none;">
    </div>
    {{{body}}}

    <nav>
      <article class="nav-item">
        <a href="/"><i class="fas fa-home nav-icon"></i></a>
      </article>
      <article class="nav-item">
        <a href="/search"><i class="fas fa-search nav-icon"></i></a>
      </article>
      <article class="nav-item">
        <a href="/plugins/new"><i class="fas fa-plus"></i></a>
      </article>
    </nav>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" charset="utf-8"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" charset="utf-8"></script>
<script src="/script.js" charset="utf-8"></script>
</html>
