<section>
  <div class="card">
    <img src={{plugin.picUrl}} alt="placeholder">
    <h2>{{plugin.name}}</h2>
    <h3>{{plugin.price}}</h3>
    <div class="card-description">
      <p>{{plugin.description}}</p>
    </div>
    <div class="card-btn"> V </div>
  </div>
</section>
