<section>
  <form class="" id="new-plugin" action="#" method="post">
    <div class="form-group">
      <label for="name">Name*</label>
      <input type="text" class="form-input" name="name" value="" placeholder="Enter the plugin name." required>
    </div>
    <div class="form-group">
      <label for="picUrl">Thumbnail URL*</label>
      <input type="text" class="form-input" name="picUrl" value="" placeholder="Enter the URL." required>
    </div>
    <div class="form-group">
      <label for="description">Description*</label>
      <input type="text" class="form-input" name="description" value="" placeholder="Enter the plugin description." required>
    </div>
    <div class="form-group">
      <label for="price">Price*</label>
      <input type="text" class="form-input" name="price" value="" placeholder="Enter the plugin price." required>
    </div>
    <button type="submit" name="button">Create</button>
  </form>
</section>
